**/*.csv
**/*.doc
**/*.docx
**/*.feather
**/*.ipynb
**/*.pdf
**/*.png
**/*.pkl
**/*.ppt
**/*.pptx
**/*.R
**/*.Rmd
**/*.rds
**/*.xls
**/*.xlsx
**/*.zip
__pycache__/*
Admin/*
Archive/*
Deliverables/*
Output/*
References/*
Utils/__pycache__/*
.vscode/launch.json
.vscode/settings.json
GarbacikE_FHA_workspace.code-workspace
