**/*.csv
**/*.doc
**/*.docx
**/*.feather
**/*.ipynb
**/*.pdf
**/*.png
**/*.pkl
**/*.ppt
**/*.pptx
**/*.R
**/*.Rmd
**/*.rds
**/*.xls
**/*.xlsx
**/*.zip
__pycache__/*
**/Archive/*
**/Data/*
***/Output/

**/*.DS_Store
